{{#section 'css'}}
<style>
    .list-course {
        max-width: 1140px;
    }

    .sort-md {
        font-size: medium !important;
    }

    a,
    a:hover {
        text-decoration: none;
    }

    #banner {
        background-image: url('../../vendor/img/banner.jpg');
        opacity: 1;
        width: 100%;
        height: 400px;
    }

    #banner-content {
        content: 'Get early access, now 123';
        position: absolute;
        max-width: 500px;
        top: 160px;
        left: 70px;
        background-color: white;
        box-shadow: 0px 0px 4px rgb(105, 105, 105);
        padding: 15px 20px;
    }

    #banner-content h1 {
        color: black;
        font-weight: 750;
        font-family: Arial, Helvetica, sans-serif;
    }

    #banner-content p {
        color: black;
        font-size: 18px;
    }

    .custom-carousel {
        width: 90%;
        margin: 0 auto;
        padding: 0;
    }

    .carousel-items {
        margin: 20px;
        max-width: 300px;
        position: relative;
    }

    .slick-btn button {
        outline: none;
        border: none;
        margin: 0;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .slide-arrow {
        position: absolute;
        top: 50%;
        margin-top: -15px;
    }

    .prev-arrow {
        left: -40px;
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-right: 15px solid #113463;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .next-arrow {
        right: -40px;
        width: 0;
        height: 0;
        border-right: 0 solid transparent;
        border-left: 15px solid #113463;
        border-top: 10px solid transparent;
        border-bottom: 10px solid transparent;
    }

    .card-header {
        padding-top: 15px;
        padding-bottom: 7px;
        background-color: rgb(202, 214, 255);
    }

    .card-title {
        max-width: fit-content;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .card-footer span {
        margin-left: 32px !important;
    }

    .middle {
        padding-left: 35px !important;
    }

    .deleted {
        margin-left: 25px;
        color: rgb(39, 22, 9);
        font-size: 14px;
    }

    .slick-show p {
        margin: 0;
        padding: 0;
    }

    .heart-watchlist {
        color: rgb(255, 255, 255);
        position: absolute;
        top: 5px;
        right: 12px;
        cursor: pointer;
        font-size: 20px;
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
    }

    .card-footer input {
        display: none;
    }

    .card-footer a,
    .card-footer button {
        width: 100px !important;
    }
</style>
{{/section}}

<body>
    {{> mainHeader}}
    {{#section 'js'}}
    <script>
        $(document).ready(function () {
            $('.slick-show').slick({
                infinite: true,
                slidesToShow: 4,
                slidesToScroll: 4,
                prevArrow: '<button class="slick-btn slide-arrow prev-arrow"></button>',
                nextArrow: '<button class="slick-btn slide-arrow next-arrow"></button>'
            });
        });
    </script>

    <script type="module">
        import { openAlert } from "/utils/alertModal.js"
        function buyCouse() {
            const btnBuy = $("#btnBuy")
            $(".add-item").on('click', function (e) {
                e.preventDefault();
                const id = $(this).data('id');
                const vl = $("#txtCourseID").val(id)
                const quantity = $("#txtQuantity").val(1);
                console.log(id)
                console.log(vl)
                console.log(quantity)

                $("#fmBuy").submit();
            })
        }
        buyCouse();

    </script>
    {{/section}}
</body>