{{#section 'css'}}

<style>
    #checkPW {
        display: none;
    }
</style>

<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.css"
    integrity="sha512-bYPO5jmStZ9WI2602V2zaivdAnbAhtfzmxnEGh9RwtlI00I9s8ulGe4oBa5XxiC6tCITJH/QG70jswBhbLkxPw=="
    crossorigin="anonymous" />

{{/section}}

{{#section 'js'}}


<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
    crossorigin="anonymous"></script>


<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function register() {
        const fmRegister = $("#fmRegister");
        const username = $("#username");
        const email = $("#email");
        const password = $("#password");
        const repeatPassword = $("#repeatPassword");
        const DOB = $("#DOB");
        const checkPW = document.getElementById("checkPW");
        let error = false;


        jQuery('#DOB').datetimepicker({
            format: 'd/m/Y',
            timepicker: false,
            mask: true
        });

        console.log("Asd")

        fmRegister.on("submit", e => {
            e.preventDefault();



            if (username.val() === "" || password.val() === "" || repeatPassword.val() === "" || repeatPassword.val() === "") {
                const messageTrigger = {
                    timer: 1500,
                    html: '',
                    title: "Invalid value!",
                    icon: "warning",
                }
                openAlert(messageTrigger)
                return;
            }


            if (repeatPassword.val() !== password.val()) {
                checkPW.style.display = "flex";
                return;
            }
            else {
                checkPW.style.display = "none";
            }

            const data = {
                username: username.val(),
                email: email.val(),
                dob: DOB.val(),
                password: password.val(),
            }

            $.ajax({
                type: 'post',
                url: '/user/register',
                data: data,
                xhrFields: {
                    withCredentials: false
                },
                headers: {
                },
                success: function (data) {
                    //  console.log('Success');
                    console.log(data)
                    const messageTrigger = {
                        timer: 1500,
                        html: '',
                        icon: 'success',
                        title: "Register Success!"
                    }


                    openAlert(messageTrigger)


                    username.val("");
                    email.val("");
                    DOB.val("");
                    password.val("");
                    repeatPassword.val("");
                },
                error: function (er) {
                    console.log(er)
                    const messageTrigger = {
                        timer: 2500,
                        html: '',
                        icon: 'error',
                        title: er.responseJSON.message,
                    }
                    openAlert(messageTrigger)
                }
            });

        })



    }

    register();
</script>
{{/section}}

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                            </div>
                            <form class="user" id="fmRegister" method="POST" action="/user/register">
                                <div class="form-group row">
                                    <div class="col-sm-12 col-lg-12 mb-3 mb-sm-0">
                                        <input type="text" class="form-control form-control-user" id="username"
                                            placeholder="Username">
                                    </div>

                                </div>
                                <div class="form-group">
                                    <input type="datetime" class="form-control form-control-user" id="DOB"
                                        placeholder="Date Of Birth">
                                </div>

                                <div class="form-group">
                                    <input type="email" class="form-control form-control-user" id="email"
                                        placeholder="Email Address">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user" id="password"
                                            placeholder="Password">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="repeatPassword" placeholder="Repeat Password">
                                    </div>
                                </div>


                                <div class="row" id="checkPW">
                                    <div class=" col-sm-12 col-lg-12">
                                        <p class="text-danger font-weight-bold">Password does not match!</p>
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Register Account
                                </button>
                                <hr>
                                <a href="index.html" class="btn btn-google btn-user btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="index.html" class="btn btn-facebook btn-user btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/user/forgot-password">Forgot Password?</a>
                            </div>
                            <div class="text-center">
                                <a class="small" href="/user/login">Already have an account? Login!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>