{{#section 'css'}}
<style>
    .login-form {
        width: 340px;

        font-size: 15px;

    }

    .f2 {
        width: auto;
    }

    .login-form form {
        margin-bottom: 15px;
        background: white;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    .wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }
</style>
{{/section}}


<div class="row">
    <div class="col-sm-12 col-lg-6 login-form">
        <form id="addCateFm" action="" method="POST">
            <h3>Add</h3>
            <div class="form-group">
                <label for="catName">Category Name</label>
                <input type="text" name="catName" id="catName" class="form-control" placeholder="Category Name"
                    required="required">
            </div>
            <div class="form-group">
                <label for="subjID">Subject</label>

                <input type="text" name="subjID" id="subjID" class="form-control" placeholder="Subject"
                    required="required">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </div>

        </form>

    </div>

    <div class="col-sm-12 col-lg-6 login-form f2">
        <form action="/examples/actions/confirmation.php" method="post">
            <h5 class="text-info mb-3">
                Subject 1: Web Programming
            </h5>
            <h5 class="text-info">
                Subject 2: Mobile Programming
            </h5>
        </form>

    </div>
</div>

{{#section 'js'}}
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function addCate() {
        const addCateFm = $("#addCateFm");
        const catName = $("#catName");
        const subjID = $("#subjID");

        console.log(openAlert)
        addCateFm.on("submit", e => {
            // console.log("2323123")
            e.preventDefault();

            //console.log(typeof subjID.val())

            if (subjID.val() === "" || catName.val() === "") {
                const messageTrigger = {
                    timer: 1500,
                    html: '',
                    title: "Invalid value!",
                    icon: "warning",
                }
                openAlert(messageTrigger)
                return;
            }
            // validate cat level
            else if (subjID.val() !== "1" && subjID.val() !== "2") {
                const messageTrigger = {
                    timer: 1500,
                    html: '',
                    title: "Invalid Category Level!",
                    icon: "warning",
                }
                openAlert(messageTrigger)
                return;
            }

            const data = {
                catName: catName.val(),
                subjID: subjID.val(),
            }


            $.ajax({
                type: 'post',
                url: '/admin/categories/add',
                data: data,
                xhrFields: {
                    withCredentials: false
                },
                headers: {
                },
                success: function (data) {
                    //  console.log('Success');
                    console.log(data)
                    const messageTrigger = {
                        timer: 1500,
                        html: '',
                        icon: 'success',
                        title: "Added Category!"
                    }
                    openAlert(messageTrigger)
                },
                error: function (er) {
                    console.log(er)
                    const messageTrigger = {
                        timer: 2500,
                        html: '',
                        icon: 'error',
                        title: er.responseJSON.message,
                    }
                    openAlert(messageTrigger)
                }
            });


        })
    }
    addCate();
</script>
{{/section}}