{{#section 'css'}}
<style>
    .login-form {
        justify-content: center;
        align-items: center;
        display: flex;

        font-size: 15px;
    }

    .f2 {
        width: 40%;
    }

    .login-form form {
        margin-bottom: 15px;
        background: white;
        box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .login-form h2 {
        margin: 0 0 15px;
    }

    .form-control,
    .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    .wrapper {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #addCourseFm {
        width: 40%;
    }
</style>
{{/section}}


<div class="row">
    <div class="col-sm-12 col-lg-12 login-form">
        <form id="addCourseFm" action="" method="POST">
            <h5>Add</h5>

            <label for="courseName">Course Name</label>
            <div class="form-group">
                <input type="text" name="courseName" id="courseName" class="form-control" placeholder="Course Name"
                    required="required">
            </div>
            <label for="title">Course Title</label>
            <div class="form-group">
                <input type="text" name="title" id="title" class="form-control" placeholder="Course Title"
                    required="required">
            </div>
            <label for="catID">Category ID</label>

            <div class="form-group">
                <input type="text" name="catID" id="catID" class="form-control" placeholder="Category ID"
                    required="required">
            </div>

            <label for="avatar">Avatar</label>

            <div class="form-group">
                <input type="text" name="avatar" id="avatar" class="form-control" placeholder="Avatar"
                    required="required">
            </div>

            <label for="fee">Course Price</label>

            <div class="form-group">
                <input type="text" name="fee" id="fee" class="form-control" placeholder="Course Price"
                    required="required">
            </div>


            <label for="fullDescription">Full Description</label>

            <div class="form-group">
                <input type="text" name="fullDescription" id="fullDescription" class="form-control"
                    placeholder="Full Description" required="required">
            </div>

            <label for="subDescription">Sub Description</label>

            <div class="form-group">
                <input type="text" name="subDescription" id="subDescription" class="form-control"
                    placeholder="Sub Description" required="required">
            </div>



            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-block">Add</button>
            </div>

        </form>

    </div>

    {{!-- <div class="col-sm-12 col-lg-6 login-form f2">
        <form action="/examples/actions/confirmation.php" method="post">
            <h5 class="text-info mb-3">
                Category Level 0: Web Programming
            </h5>
            <h5 class="text-info">
                Category Level 1: Mobile Programming
            </h5>
        </form>

    </div> --}}
</div>

{{#section 'js'}}
<!-- Optional: include a polyfill for ES6 Promises for IE11 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>


<script type="module">
    import { openAlert } from "/utils/alertModal.js"
    function delCategory() {
        const addCourseFm = $("#addCourseFm");
        const courseName = $("#courseName");
        const title = $("#title");
        const catID = $("#catID");
        const avatar = $("#avatar");
        const fee = $("#fee");
        const fullDescription = $("#fullDescription");
        const subDescription = $("#subDescription");


        addCourseFm.on("submit", event => {
            event.preventDefault();

            const data = {
                courseName: courseName.val(),
                title: title.val(),
                catID: catID.val(),
                avatar: avatar.val(),
                fee: fee.val(),
                fullDescription: fullDescription.val(),
                subDescription: subDescription.val(),
            }

            $.ajax({
                type: "post",
                url: "/admin/courses/add",
                data: data,
                xhrFields: {
                    withCredentials: false
                },
                headers: {

                },
                success: data => {
                    // console.log(data);
                    const messageTrigger = {
                        timer: 1500,
                        html: '',
                        icon: 'success',
                        title: "Added Course!"
                    }
                    openAlert(messageTrigger)
                },
                error: er => {
                    console.log(er)
                    const messageTrigger = {
                        timer: 2500,
                        html: '',
                        icon: 'error',
                        title: er.responseJSON.message,
                    }
                    openAlert(messageTrigger)
                }
            })

        })

    }
    delCategory();
</script>
{{/section}}