{{#section 'css'}}
{{/section}}

{{#section 'js'}}
{{/section}}


<div>


    <div class="card">
        <div class="card-header bg-success text-white ">Delete Student</div>
        <div class="card-body">
            <form action="" id="fmAddStudent">


                <div class="form-group">
                    <label for="txtName">Student Name</label>
                    <input type="text" name="txtName" id="txtName" class="form-control" placeholder="Duc Cao"
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted"></small>
                </div>

                <div class="form-group">
                    <label for="txtEmail">Email</label>
                    <input type="email" name="txtEmail" id="txtEmail" class="form-control" placeholder="foo@gmail.com"
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted"></small>
                </div>
                <div class="form-group">
                    <label for="txtPassword">Password</label>
                    <input type="password" name="txtPassword" id="txtPassword" class="form-control" placeholder=""
                        aria-describedby="helpId">
                    <small id="helpId" class="text-muted"></small>
                </div>

                <button type="submit" class="btn btn-success">Submit</button>

            </form>
        </div>
        <div class="card-footer bg-success"></div>
    </div>


</div>